h1 {
    color: white;
    background: green;
}

h3 {color: blue;}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}