h1 {
    color: darkblue;
}

h3 {color: darkviolet;}

h6 {color: blue}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  margin-top: 4;
}