<!doctype html>
<html lang="de">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        
        {% include "header.html" %}
        <title>Geschenkideen - Suchergebnisse</title>
    </head>
    <body>
        
        <div class="container">
            <h1>Was sich wünscht</h1>
            {% for geschenk_idee in geschenk_ideen %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{geschenk_idee["person"]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

            {% endfor %}
            <!--container ende-->
        </div>
        {% include "footer.html" %}
        
        
    </body>
</html>