<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   

    {% include "header.html" %}
    

        

    <title>Geschenkidee erfassen</title>
  </head>

  <body>

<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('geschenk_erfassen')}}">Erfassen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('geschenk_suchen')}}">Suchen</a>
        </li>
    </ul>

    
    <div class="container">
        
        <div class="row justify-content-center mt-4">
        <h1>Geschenkideen erfassen</h1>
        </div>

  <div class="col-8 offset-2">
  <form action="geschenk_erfassen" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput2">Person</label>
    <input name="person" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Vorname Nachname">
  </div><div class="form-group">
  <div class="form-group">
    <label for="formGroupExampleInput2">Geschenkidee</label>
    <input name="idee" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Bienenwachskerze">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Beschreibung</label>
    <input name="beschreibung" type="text" class="form-control" id="formGroupExampleInput2" placeholder="mag Duftkerzen">
  </div>
    <label for="formGroupExampleInput2">Hashtag</label>
    <input name="hashtag" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Dekoration">
  </div>

      

<input class="btn btn-primary mb-2" type="submit" value="Speichern">


  
</form>
</div>


    <!--container ende-->
    </div>

    
  

    {% include "footer.html" %}
  </body>
</html>





