<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   

    {% include "header.html" %}
    

        

    <title>Geschenkidee suchen</title>
  </head>

  <body>

 

    <div class="container">
        
        <div class="row justify-content-center mt-4">
        <h1>Geschenkideen suchen</h1>
        </div>

  <div class="col-8 offset-2">
  <form action="geschenk_suchen" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput2">Person</label>
    <input name="person" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Vorname Nachname">
  </div>

<input class="btn btn-primary mb-2" type="submit" value="Speichern">


  
</form>
</div>


    <!--container ende-->
    </div>

    
  

    {% include "footer.html" %}
  </body>
</html>





