<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% include "header.html" %}
    
    
    <title>Geschenkidee suchen</title>
  </head>
  <body>
    {% include "navbar.html" %}
    
    <div class="container">
      
      <div class="row justify-content-center mt-4">
        <h1>Geschenkideen suchen</h1>
      </div>
      <div class="col-8 offset-2">
        <h6>Nach Person suchen</h6>
        <!--
        <form action="geschenk_suchen" class="mb-5" method="POST">
          
          <div class="form-group">
            <select class="custom-select">
              <option value="">Open this select menu</option>
              <option name="person" value="{{ person }}">{{ person }}</option>
            </select>
          </div>
          {% for person in personen %}
            <div class="form-group">
              <select class="custom-select">
                <option value="">Open this select menu</option>
                <option name="person" value="{{ person }}">{{ person }}</option>
              </select>
            </div>
          {% endfor %}
          -->
          
          <form action="geschenk_suchen" class="mb-5" method="POST">
            <!--
            <div class="form-group">
              <label for="formGroupExampleInput2">Person</label>
              <input name="person" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Name">
            </div>
            <br>
            <div class="form-check form-check-inline">
              <label><input name="person" type="checkbox" value={{person}}> {{ person }}</label>
            </div>
            -->
            
            <div class="form-group">
              <select class="custom-select" type="checkbox" name="person" value={{person}}>
                <option>Person auswählen</option>{% for person in personen %}
                <option  >{{ person }}</option>{% endfor %}
              </select>
            </div>
            
            <br>
            
            <h6>Nach Hashtags suchen</h6>
            
            {% for hashtag in hashtags %}
              <div class="form-check form-check-inline">
                <label><input name="hashtag" type="checkbox" value={{hashtag}}> {{ hashtag }}</label>
              </div>
            {% endfor %}
            <div>
              <input class="btn btn-primary mb-2 mt-2" type="submit" value="Suchen">
            </div>
            
          </form>
        </div>
        <!--container ende-->
      </div>
      
      
      {% include "footer.html" %}
    </body>
  </html>