<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% include "header.html" %}
    
    
    <title>Geschenkidee suchen</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('home')}}">Geschenkidee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('formular_neuer_eintrag')}}">Erfassen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('geschenk_suchen')}}">Suchen</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      
      <div class="row justify-content-center mt-4 mb-4">
        <h1>Geschenkideen suchen</h1>
      </div>
      <div class="col-8 offset-2">
        <!--Auf der Ebene select wird der name und value definiert.
        Mit einer for Schleife werden alle Personen aufgeführt.
        Gleiches gilt unten für die Hashtags-->
        <h6>Nach Person suchen</h6>
        <form action="geschenk_suchen" class="mb-5" method="POST">
          <div class="form-group">
            <select class="custom-select" type="checkbox" name="person" value={{person}}>
              <option>Person auswählen</option>
              {% for person in personen %}
                <option  >{{ person }}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <h6>Nach Hashtags suchen</h6>
          {% for hashtag in hashtags %}
            <div class="form-check form-check-inline">
              <label><input name="hashtag" type="checkbox" value={{hashtag}}> {{ hashtag }}</label>
            </div>
          {% endfor %}
          <div>
            <input class="btn btn-primary mb-2 mt-2" type="submit" value="Suchen">
          </div>
        </form>
      </div>
      <!--container ende-->
    </div>
    
    {% include "footer.html" %}
  </body>
</html>